/* The only rule that matters */

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-attachment: scroll;
  overflow: hidden;
  background: #fff;
  z-index: 1;
}

#video-background {
  /*  making the video fullscreen  */
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 0.25;
}

.home-wrapper {
  z-index: 3;
}

.header-text {
  z-index: 4;
}

